%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %meta{:content=> "width=device-width", :initial-scale=>"1", :name=> "viewport"}

  %title= yield :title

  = title ' | Adam Zucker'
  = description 'Personal website and development sandbox'

  = favicon_link_tag "png/apple-touch-icon.png", type: "image/png", sizes: "96x96"
  = csrf_meta_tag

  = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  = stylesheet_link_tag 'application', media: 'all'

  = javascript_pack_tag 'animations'
  = javascript_pack_tag 'application'
  = javascript_pack_tag 'navbar'

%body
  .animation-root
    .animation-container
      #left-gutter-animation.gutter-animation
  .animation-root.right
    .animation-container
      #right-gutter-animation.gutter-animation
  .main-container
    = render :partial => "layouts/navbar"
    %p.notice
      = notice
    %p.alert
      = notice
    = yield